<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
}
body {
    background-color: #ADD8E6;
}
div {
  border: 1px solid black;
  margin-right: 190px;
  margin-left: 190px;
}
</style>
<head>
    <title> Spam or not SMS recognition </title>
</head>

<h1 align="center" style="font-family:Fantasy;"> Spam or not SMS recognition </h1>

<div>
<p align="center" style="font-family:Monospace;"> Please copy paste the SMS you want to test: </p>
<form action="{{ url_for('predict') }}", method="POST">
    <fieldset >
        <legend>Input text:</legend>
        <input name="TT" type="text" required>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
</div>

<div class="result" align="center">
    <br> Text classification:
    <p style="font-size:50px">{{ result }}</p>
</div>
</html>
